<% const options = { year: 'numeric', month: 'numeric', day: 'numeric' }; %> 

<h2>Dados do evento: </h2>
<div class="event-info">
  <input type="hidden" name="_csrf" class="csrfToken-event" value="<%=csrfToken%>">
  <input type="hidden" name="id" id="id-contact-event" value="<%=infos.id%>">
  <span>Nome: </span><input type="text" id="name-contact-event" readonly value="<%=infos.name%>" required> 
</div>
<div class="event-info">
  <span>Sobrenome: </span><input type="text" id="surname-contact-event" readonly value="<%=infos.surname%>" required> 
</div>
<div class="event-info">
  <span>Título: </span><textarea type="text" id="title-contact-event" readonly value="<%=infos.title%>" cols="30" rows="10" placeholder="Descrição" required><%=infos.title%></textarea>
</div>
<div class="event-info">
  <% const date = new Date().toISOString().slice(0,10); %>
  <span>Data: </span><input type="date" id="date-contact-event" readonly value="<%=`${infos.start.slice(0,10)}` %>" required min="<%=date%>"> 
</div>
<div class="event-info">
  <span>Início: </span><input type="time" id="timestart-contact-event" readonly value="<%=`${infos.start.slice(11,)}` %>" required min="09:00" max="18:00" step="1800"> 
</div>
<div class="event-info">
  <span>Fim: </span><input type="time" id="timeend-contact-event" readonly value="<%=`${infos.end.slice(11,)}`%>" required min="09:00" max="18:00" step="1800"> 
</div>
<div class="event-info">
  <span>Tipo: </span>
  <select id="type-contact-event" selected="<%=infos.type%>" disabled required>
    <% if(infos.type === "prioridade-01") {%> 
      <option value="prioridade-01" selected>Prioridade 1</option> %> 
    <% } else { %>
      <option value="prioridade-01">Option 1</option> 
    <% } %> 
    <% if(infos.type === "prioridade-02") {%> 
      <option value="prioridade-02" selected>Prioridade 2</option> %> 
    <% } else { %>
      <option value="prioridade-02">Prioridade 2</option> 
    <% } %> 
    <% if(infos.type === "prioridade-03") {%> 
      <option value="prioridade-03" selected>Prioridade 3</option> %> 
    <% } else { %>
      <option value="prioridade-03">Prioridade 3</option> 
    <% } %> 
    <% if(infos.type === "prioridade-04") {%> 
      <option value="prioridade-04" selected>Prioridade 4</option> %> 
    <% } else { %>
      <option value="prioridade-04">Prioridade 4</option> 
    <% } %> 
  </select>
</div>
<div class="event-info">
  <span>Cadastro: </span><input type="date" id="date-register-contact-event" readonly value="<%=infos.createdAt.toISOString().slice(0,10)%>" required> 
</div>

